# Combining Data from Multiple Tables

In [1]:
import pandas as pd

In [4]:
air_quality_no2 = pd.read_csv("air_quality_no2_long.csv",
                              parse_dates=True)

In [5]:
air_quality_no2.head()

    city country                   date.utc location parameter  value   unit
0  Paris      FR  2019-06-21 00:00:00+00:00  FR04014       no2   20.0  µg/m³
1  Paris      FR  2019-06-20 23:00:00+00:00  FR04014       no2   21.8  µg/m³
2  Paris      FR  2019-06-20 22:00:00+00:00  FR04014       no2   26.5  µg/m³
3  Paris      FR  2019-06-20 21:00:00+00:00  FR04014       no2   24.9  µg/m³
4  Paris      FR  2019-06-20 20:00:00+00:00  FR04014       no2   21.4  µg/m³

In [7]:
air_quality_pm25 = pd.read_csv("air_quality_pm25_long.csv",
                               parse_dates=True)

In [9]:
air_quality_pm25 = air_quality_pm25[["date.utc", "location",
                                     "parameter", "value"]]

In [10]:
air_quality_pm25.head()

                    date.utc location parameter  value
0  2019-06-18 06:00:00+00:00  BETR801      pm25   18.0
1  2019-06-17 08:00:00+00:00  BETR801      pm25    6.5
2  2019-06-17 07:00:00+00:00  BETR801      pm25   18.5
3  2019-06-17 06:00:00+00:00  BETR801      pm25   16.0
4  2019-06-17 05:00:00+00:00  BETR801      pm25    7.5

## How to combine data from multiple tables

### Concatenating objects

#### I want to combine the measurements of `NO2` and `PM25`, two tables with a similar structure, in a single table.

In [11]:
air_quality = pd.concat([air_quality_pm25, air_quality_no2], axis=0)

In [ ]:
air_quality.head()